<app-navbar></app-navbar>

<div class="background">
    <div class="card text-white mb-3" style="width: 800px; height: 600px;">
        <div class="card-header bg-danger">
            Ajustes de usuario
        </div>
        <div class="card-body shadow">
          <div class="row">
            <div class="col">
              <h3 style="color: red;">General</h3>
              <br>
              <div class="container text-center mt-4">
                <input
                  type="text"
                  class="form-control mb-2 shadow"
                  placeholder="Nombre del usuario"
                  formControlName="username"
                />
                <input
                  type="email"
                  class="form-control mb-2 shadow"
                  placeholder="Correo electronico"
                  formControlName="email"
                  
                />
                <input
                  type="text"
                  class="form-control mb-2 shadow"
                  placeholder="Nombre de la mascota"
                  formControlName="usernameMascota"
                  
                />
                <input
                  type="password"
                  class="form-control mb-2 shadow"
                  placeholder="Contraseña actual"
                  formControlName="password"
                  
                />
                <input
                  type="password"
                  class="form-control mb-5 shadow"
                  placeholder="Nueva contraseña"
                  formControlName="newpassword"
                  
                />
              </div>

            </div>
              
              <div class="col" style="color: black;">
              <h3 style="color: red;">Foto de perfil</h3>
              <br>
              <div class="container mt-4">
                <h5>Foto actual</h5>
                <img src="assets/291-2916631_perros-animados-png-sin-fondo-dog-thank-you-gifs-removebg-preview.png" style="margin-left: 50px;" height="100pxs">

              </div>
              <div class="container mt-5">
                <h5>Foto nueva</h5>
                <button type="file">Seleccionar archivo</button>
              </div>
            </div>
            <button class="btn btn-danger" style="height: 50px; margin-top: 450px;">Guardar</button>

          </div>
        </div>
        <div class="card-footer bg-danger">
           
        </div>
</div>
