<app-navbar></app-navbar>

<div class="background">
    <div class="card text-white mb-3" style="width: 800px; height: 600px;">
        <div class="card-header bg-danger">
            Ajustes
        </div>
        <div class="card-body shadow">
          <div class="row">
            
            <div class="col">
              <h3 style="color: red;">Usuario</h3>
              <br>
              <div class="container text-center mt-4">
                <form
                    class="form-signin animated fadeIn"
                    autocomplete="on"
                    #f1="ngForm" (ngSubmit)='actualizarUsuario(f1)'
                    >
                <input
                  type="text"
                  class="form-control mb-2 shadow"
                  placeholder="Nombre del usuario"
                  #nombreUsuario="ngModel"
                  name="nombreUsuario"
                  [(ngModel)] = "usuario.usuario"

                />
                <input
                  type="password"
                  class="form-control mb-5 shadow"
                  placeholder="Nueva contraseña"
                  #password="ngModel"
                  name="password"
                  [(ngModel)] = "usuario.password"
                />
                <button class="btn btn-danger" style="width: 100%; margin-top: 50px; margin-bottom: 60px;" 
                    >Guardar</button>
                </form>
              </div>
              

            </div>


              <div class="col" style="color: black;">
                <h3 style="color: red;">Registrar Perro</h3>
                <br>
                  <div class="container mt-4">
                  
                    <form
                    class="form-signin animated fadeIn"
                    autocomplete="on"
                    #f2="ngForm" (ngSubmit)='cargarImagen(f2)'
                    >
                  <input
                  type="text"
                  class="form-control mb-2 shadow"
                  placeholder="Nombre de la mascota"
                  #nombrePerro="ngModel"
                  name="nombrePerro"
                  [(ngModel)] = "perro.nombre"
  
                  />
  
                  <div class="container mt-4">
                    <h5>Imagen actual</h5>
                    <img src="assets/291-2916631_perros-animados-png-sin-fondo-dog-thank-you-gifs-removebg-preview.png" height="100px">
    
                  </div>
                  <div class="container mt-5">
                    <h5>Imagen nueva</h5>
                    <input type="file" id="fileIn" (change)="setFile($event)">
                    <button class="btn btn-danger" style="width: 100%; margin-top: 50px; margin-bottom: 60px;" 
                    >Guardar</button>
                  </div>
               </form>
                </div>  
          </div>
          </div>
        </div>
        <div class="card-footer bg-danger"> 
           
        </div>

        
        <!--<       PREVISUALIZAR IMAGEN
        <div>
        <input type="file" (change)="capturarFile($event)">
        </div>
        div *ngIf="previsualizacion">
        <img [src]="previsualizacion" alt="" width="80px" height="80px">
        </div>-->
</div>
